<h3 class="tasks-title">Your tasks</h3>
<ul class="tasks-list">
    <li class="task-item" ng-repeat="toDo in toDos">
        <input type="checkbox" ng-model="toDo.completed" class="task-checkbox"/>
        <div class="task-content">
            <h4 class="task-title" ng-style="{'background-color': colors[$index % colors.length]}" ng-class="{'completed': toDo.completed}">
                {{toDo.title}}
            </h4>
            <p class="task-desc" ng-class="{'completed': toDo.completed}">
                {{toDo.description}}
            </p>
        </div>
    </li>
</ul>
